@use "../mixins" as *;

.latest-news {
  &_grid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include device(s) {
      flex-direction: row;
    }
    &_feature {
      @include device(m) {
        flex: 1;
      }
    }
    &_posts {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @include device(m) {
        flex: 1;
      }

      .post-article-item_image {
        img {
          max-width: 250px;
        }
      }
    }
  }
}
