@use "../variables" as *;

.post-article-item {
  $this: &;
  display: grid;
  grid-template-columns: 210px auto;
  column-gap: 30px;

  &.search {
    grid-template-columns: 300px;
  }

  &_image {
    border-radius: 1rem;
    overflow: hidden;
    display: block;
    height: 100%;
    img {
      aspect-ratio: 1 / 1;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
    }
  }
  &_content {
    margin-top: 1.5rem;
    &.line {
      padding-left: 50px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 7px;
        display: inline-block;
        width: 35px;
        height: 2px;
        background-color: $color-black;
      }
    }
  }
  &_meta {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.75rem;

    &_category {
      text-transform: uppercase;
      font-size: 13px;
      transition: color 0.3s ease;
      &:hover {
        color: $color-red;
      }
    }

    &_date {
      color: $color-gray-light;
      font-size: 14px;
      &.dot {
        &::before {
          content: "•";
          display: inline-block;
          vertical-align: text-bottom;
          font-size: 14px;
          font-weight: 400;
          margin: 0 0.75em 0 0.45em;
        }
      }
    }
  }
  &_title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0;
    line-height: 1.2;
  }
  &:hover {
    #{$this} {
      &_image {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
  &.feature {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / span 3 / span 1;
    position: relative;
    #{$this} {
      &_content {
        display: flex;
        align-items: flex-start;
        column-gap: 1.5rem;
      }

      &_meta {
        margin: 0;
        &_category {
          position: absolute;
          top: 2rem;
          left: 2rem;
          z-index: 5;
        }

        &_date {
          color: $font-color-main;
          text-align: center;
          font-weight: bold;
          .day-of-month {
            font-size: 4rem;
            display: block;
            line-height: 1;
          }
          .month {
            text-transform: uppercase;
          }
        }
      }
      &_title {
        font-size: 3rem;
      }
    }
  }
}
