.author-page {
  .author-avatar {
    text-align: center;
    margin-bottom: 2rem;
    img {
      width: auto;
      border-radius: 100px;
    }
  }
  .author-description {
    text-align: center;
  }
  .latest-posts {
    padding: 0;
  }
}
