@use "variables" as *;
@use "./mixins" as *;

.footer {
  background-color: $color-black;
  color: $color-white;
  padding: 2rem 0 20px;
  @include device(m) {
    padding-top: 100px;
  }
  .footer_container {
    .footer_nav {
      margin-bottom: 4rem;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 2rem;

      &_title {
        font-size: 1.25rem;
        margin-bottom: 1.75rem;
        font-weight: 800;
      }

      &_logo {
        img {
          width: 250px;
          filter: brightness(0) invert(1);
        }
        &_description {
          margin-top: 2rem;
          max-width: 300px;
        }
      }
      &_info {
        &_address {
          margin-bottom: 1.5rem;
          line-height: 1.8;
        }

        &_mail {
          display: inline-block;
          font-size: 1.125rem;
          text-decoration: none;
          position: relative;
          margin-bottom: 1.5rem;
        }

        &_tel {
          font-size: 1.25rem;
          font-weight: 700;
        }
      }
      &_links {
        &_menu {
          list-style: none;
          margin: 0;
          padding: 0;
          .menu-item {
            margin-bottom: 1rem;
          }
        }
      }
      &_social {
        &_box {
          display: flex;
          gap: 0.5rem;

          &_icon {
            width: 45px;
            height: 45px;
            border: 1px solid rgba($color: $color-white, $alpha: 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 45px;
            transition: color 0.3s ease;

            &.hover-facebook:hover {
              color: #3b5998;
            }

            &.hover-twitter:hover {
              color: #1d9ee8;
            }

            &.hover-instagram:hover {
              color: #e23756;
            }
          }
        }
      }
    }
    .footer_copyright {
      border-top: 1px solid $color-gray;
      padding: 2rem 0 0.5rem;
    }
  }
}
