@use "variables" as *;

.header {
  padding: 1.5rem;
  .header_container {
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header_logo {
      img {
        max-width: 256px;
      }
    }
    .header_menu {
      list-style: none;
      margin: 0;
      padding: 0;
      .menu_item,
      & > li {
        display: inline-block;
        padding: 0.75rem;

        a {
          transition: color 0.3s ease;
          &:hover {
            color: $font-color-secondary;
            text-decoration: none;
          }
        }
      }
    }
    .header_tools {
      &_search {
        cursor: pointer;
      }
    }
  }
}
