$color-black: #020202;
$color-white: #fcfcfc;
$color-gray: #3c3f47;
$color-gray-light: #8f929d;
$color-red: #ea011d;
$color-red-hover: #cb0018;

$font-color-main: #1c1919;
$font-color-secondary: $color-red;
