@use "variables" as *;
@use "mixins" as *;

.wp-block-cover {
  margin: 0 1.25rem 2rem;
  min-height: 70vh;
  border-radius: 1rem;
  padding: 30px;
  @include device(m) {
    margin: 0 4rem 2rem;
    padding: 30px;
    justify-content: flex-start;
  }

  .wp-block-cover__inner-container {
    @include device(xl) {
      width: 50%;
    }

    .wp-block-heading {
      margin-bottom: 2rem;
      text-shadow: black 1px 0 10px;
      @include device(m) {
        font-size: 3.5rem !important;
      }
    }

    & > p {
      text-shadow: black 1px 0 10px;
    }

    .wp-block-buttons {
      margin-top: 1.5rem;
    }
  }
}

.wp-block-buttons {
  .wp-element-button {
    @include button;
  }
}

.wp-block-quote,
blockquote {
  background-color: #edeef1;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  border-left: 2px solid $color-red;
  & > * {
    margin: 0;
  }
  &::before {
    content: "❝";
    display: block;
    font-size: 4rem;
    line-height: 1;
    color: $color-red;
    margin-bottom: -10px;
  }
}
.wp-block-list {
  li {
    margin: 0.25rem 0;
    &::marker {
      color: $color-red;
    }
  }
}

ol.wp-block-list {
  padding-left: 50px;
  li {
    &::marker {
      font-size: 1.4rem;
    }
  }
}

.alignnone,
.aligncenter {
  width: auto;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}
