@use "variables" as *;
@use "mixins" as *;
@use "reset";
@use "animation";
@use "header";
@use "latest-posts";
@use "./wp-blocks";
@use "footer";

html,
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  color: $font-color-main;
}

.container {
  padding: 0 5rem;
}

.wrapper,
.content > p,
.content > .wp-block-heading {
  width: 100%;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;

  @include device(xl) {
    max-width: 1320px;
  }
}
