@use "variables" as *;
@use "mixins" as *;
@use "reset";
@use "animation";
@use "header";
@use "./not-found-page";
@use "./search-page";
@use "templates/latest-posts";
@use "./templates/latest_news";
@use "./templates/brands";
@use "./templates/banner";
@use "./templates/subscribe";
@use "./templates/post-article-item";
@use "wp-blocks";
@use "footer";

html,
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  color: $font-color-main;
  line-height: 1.6;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.container {
  padding: 0 5rem;
}

.wrapper,
.content.wrap-text > :where(p, blockquote, h1, h2, h3, h4, h5, h6, table, .wp-block-image, .wp-block-heading, .wp-block-list, .wp-block-columns, .wp-block-table, .wp-block-search) {
  width: 100%;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;

  @include device(xl) {
    max-width: 1320px;
  }
}

.content {
  :where(p, blockquote, li, table, .wp-block-heading) a {
    color: $color-red;
    transition: color 0.3s ease;
    &:hover {
      color: $color-red-hover;
    }
  }
  img {
    border-radius: 0.875rem;
  }
  .saboxplugin-wrap {
    border-radius: 0.875rem;
    background-color: #edeef1;
    border: none;
    padding: 1rem;

    .saboxplugin-gravatar {
      img {
        border-radius: 100px;
      }
    }
    .saboxplugin-authorname {
      .author {
        font-size: 19px;
      }
    }
    .saboxplugin-desc {
      margin-top: 1rem;
      p {
        font-size: 1rem !important;
      }
    }
  }
  > *:last-child {
    margin-bottom: 2rem;
  }
}

.section-block {
  margin-top: 3rem;
  margin-bottom: 3rem;

  @include device(s) {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}
.text-center {
  text-align: center;
}

.content-posts {
  &_title {
    font-size: 2.25rem;
    margin-bottom: 0.5em;
    margin-top: 0;
    font-weight: 900;

    @include device(m) {
      font-size: 3.5rem;
    }
  }
  &_subtitle {
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
}

.badge {
  background-color: $color-blue;
  border-radius: 1rem;
  padding: 0.25em 1em;
  color: $color-white;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.6px;
  transition: all 0.3s ease;
  &:hover {
    background-color: $color-white;
    color: $font-color-main;
  }
}

.custom-btn,
.wp-element-button,
#searchsubmit {
  @include button;
}

#searchform {
  margin-bottom: 2rem;
  & > div {
    display: flex;
    gap: 1.5rem;
    input[type="text"] {
      flex: 1;
      @include input;
    }
  }
}

.wp-block-search__input {
  @include input;
}

.wpcf7-form {
  .wpcf7-submit {
    @include button;
  }
  .wpcf7-form-control-wrap {
    display: block;
    .wpcf7-form-control {
      display: block;
      border: none;
      border-bottom: 2px solid transparent;
      background-color: #edeef1;
      outline: none;
      padding: 0.5rem 1rem;

      &:focus-within {
        border-bottom-color: $color-gray-light;
      }
    }
  }
}
